body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: $base-font-weight;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}

#recent-tweets {
	position: absolute;
	z-index: -1;
	font-size: $base-font-size * 4;
	font-weight: 200;
	line-height: 1;
	color: #eee;

	p {
		margin: 0;
		padding: 0;
	}
}

#tweets-seen {
	margin-left: 20px;
	font-weight: 300;
	font-size: $base-font-size;

	span {
		font-weight: 400;
	}
}
.poem-container {
	font-family: $poem-font-family;
	// font-family: Courier, mono;

	a {
		text-decoration: none;
		color: #000;
		// font-size: $base-font-size * 1.5;
	}
}

.limerick {
	position: relative;
	margin-top: 60px;
	margin-left: -20px;
}


.poem {
	margin-bottom: 60px;
	margin-left: 30px;
	width: auto;
	font-size: $base-font-size * 1.8;
	&:not(:last-of-type) {
		// border-bottom: 1px solid #ccc;
	}

	h3 {
		font-style: italic;
		font-size: $base-font-size * 1.8;
		font-weight: normal;
		margin: 10px 0;
	}
	
	.user-line {
		background-color: #fdd;
	}	
}

.active-users {
	position: absolute;
	right: 20px;

	.active-user {
		font-weight: 400;

	}
}

#user-list {
	position: absolute;
	background-color: #fdd;
	float: right;
	margin-top: 500px;
}


#left {
	// background-color: #ccc;
	display: block;
	width: 40%;
	float: left;
}

#right {
	display: block;
	// background-color: #FF0;
	width: 60%;
	float: right;
}

