<!DOCTYPE html>
<html>

    <head>
        <script type="text/javascript" src="//code.jquery.com/jquery-1.8.0.min.js"></script>
        <link href='http://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
        <!-- randomColor: https://github.com/davidmerfield/randomColor -->
        <script type="text/javascript" src="{{ url_for('static', filename='randomColor.js') }}"></script>
            <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" media="all" />
        <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
        <script>window.twttr = (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0],
            t = window.twttr || {};
          if (d.getElementById(id)) return t;
          js = d.createElement(s);
          js.id = id;
          js.src = "https://platform.twitter.com/widgets.js";
          fjs.parentNode.insertBefore(js, fjs);
         
          t._e = [];
          t.ready = function(f) {
            t._e.push(f);
          };
         
          return t;
        }(document, "script", "twitter-wjs"));</script>

        <script type="text/javascript">
            $(document).ready(
                    function() {
                        sse = new EventSource('/my_event_source');
                        sse.onmessage = function(message) {
                            // console.log(message)
                            try {
                                var msg = jQuery.parseJSON(message.data);
                                poet.handleMessage(msg);
                            } 
                            catch (e) {
                                console.log(e);
                                console.log(message.data);
                            }
                        };
                    });
        </script>
    </head>

    <body>
    <header>
        <h2>poet.py<span id='tweets-seen'>Tweets seen: <span class='nodometer'>0</span></span></h2>
    </header>
        <div id="recent-tweets">
        </div>
        <div class="wrapper">
        </div>
        <div class="active-users">
            <div class="active-user">fake_user</div>
        </div>
        <div class="wrapper">
            <div class="poem-container" id="left"></div>
            <div class="poem-container" id="right"></div>
                </div>
                <div id="user-list"></div>
        </div>
        <!-- <ul id="output">

        </ul> -->

    </body>

</html>