<!DOCTYPE html>
<html>

    <head>
        <script type="text/javascript" src="//code.jquery.com/jquery-2.1.0.min.js"></script>
        <link href='http://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
        <script type="text/javascript" src="{{ url_for('static', filename='randomColor.js') }}"></script>
            <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" media="all" />
        <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
        <script>window.twttr = (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0],
            t = window.twttr || {};
          if (d.getElementById(id)) return t;
          js = d.createElement(s);
          js.id = id;
          js.src = "https://platform.twitter.com/widgets.js";
          fjs.parentNode.insertBefore(js, fjs);
         
          t._e = [];
          t.ready = function(f) {
            t._e.push(f);
          };
         
          return t;
        }(document, "script", "twitter-wjs"));</script>

        <script type="text/javascript">
            $(document).ready(
                    function() {
                        sse = new EventSource('/my_event_source');
                        sse.onmessage = function(message) {
                            try {
                                var msg = jQuery.parseJSON(message.data);
                                poet.handleMessage(msg);
                            } 
                            catch (e) {
                                console.log(e);
                                console.log(message.data);
                            }
                        };
                        $('.active-users').toggle();
                        document.getElementById('lang-fr').onclick = function(event) {
                            poet.langSelect('fr');
                        }
                        document.getElementById('lang-en').onclick = function(event) {
                            poet.langSelect('en');
                        }
                    });
        </script>
    </head>

    <body>
    <header>
        <h2>poetastr</h2>
        <span id="tweets-seen">Tweets seen: <span class="nodometer">0</span></span>
        <div id="lang-select"><a href="#" class="active" id='lang-fr'>FR</a>/<a href="#" id='lang-en' class="active">EN</a></div>
    </header>
        <div id="recent-tweets">
        </div>
        <div class="active-users">
            <div class="active-users-label">tracking users:</div>
        </div>
        <div class="wrapper">
            <div class="poem-container" id="main-container"></div>
        </div>
    </body>

</html>