<!DOCTYPE html>
<html>

    <head>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" media="all" />

        
        <script type="text/javascript" src="//code.jquery.com/jquery-1.8.0.min.js"></script>
        <script>window.twttr = (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0],
            t = window.twttr || {};
          if (d.getElementById(id)) return t;
          js = d.createElement(s);
          js.id = id;
          js.src = "https://platform.twitter.com/widgets.js";
          fjs.parentNode.insertBefore(js, fjs);
         
          t._e = [];
          t.ready = function(f) {
            t._e.push(f);
          };
         
          return t;
        }(document, "script", "twitter-wjs"));</script>

        <script type="text/javascript">
        poet = {
            recentLines : {
                maxLength: 10,
                list: Array(),
                add: function (item) {
                    this.list.push(item)
                    if (this.list.length > this.maxLength) {
                        this.list.shift()
                    }
                }
            }
        }
        </script>
        <script type="text/javascript">
            $(document).ready(
                    function() {
                        sse = new EventSource('/my_event_source');
                        sse.onmessage = function(message) {
                            // console.log(message)
                            try {
                                var msg = jQuery.parseJSON(message.data)
                            } 
                            catch (e) {
                                console.log(e)
                                console.log(message.data)
                            }
                            if (msg.mtype == "poem") {
                                console.log(message.data)
                                switch (msg.body.poem_type) {
                                    case "haiku":
                                        $('.haiku').html ( msg.body.lines.map(function(line) {
                                        return '<div class="poem-line"><a class="line-link" href="'+line.info.id_str+'">'+line.info.text+'</a></div>'
                                        }).reduce(function(a, b) {
                                            return a + b
                                        }));
                                        break;
                                    case "limerick":
                                        $('.limerick').html ( msg.body.lines.map(function(line) {
                                        return '<div class="poem-line"><a class="line-link" href="'+line.info.id_str+'">'+line.info.text+'</a></div>'
                                        }).reduce(function(a, b) {
                                            return a + b
                                        }));
                                        break;
                                }
                                // $('.poem-container').html ( msg.body.lines.map(function(line) {
                                //     return '<div class="poem-line"><a class="line-link" href="'+line.info.id_str+'">'+line.info.text+'</a></div>'
                                // }).reduce(function(a, b) {
                                //     return a + b
                                // }));

                                $( "a" ).click(function( event ) {
                                    event.preventDefault();
                                    $('#right').html( " " )
                                    // console.log($( this ).attr('href'));
                                    window.twttr.widgets.createTweet(
                                        $( this ).attr('href'),
                                        document.getElementById('right'));
                                    }); 
                                
                                console.log(msg.body)
                               // $('#output').append('<li>'+msg.text+'</li>');
                            // } else if (msg.mtype == "item") {
                            //     $('#line').html( msg.text )
                            } else if (msg.mtype == "line") {
                                poet.recentLines.add(msg.body)
                                $('#recent-tweets').html( poet.recentLines.list.join('<br/>') )
                                // $('#last-line').html( msg.body )
                                // console.log(window.poet.recentLines.list.length)
                            }
                            // console.log('A message has arrived!');
                         
                        }
                    // $( "a" ).click(function( event ) {
                    //     event.preventDefault();
                    //     $('#right').html( " " )
                    //     console.log($( this ).attr('href'));
                    //     window.twttr.widgets.createTweet(
                    //         $( this ).attr('href'),
                    //         document.getElementById('right'));
                    //     });
                    });
        </script>
    </head>

    <body>

        <h2>Demo</h2>
        <div id="recent-tweets">
        </div>
        <div class="wrapper">
        </div>
        <div class="wrapper">
            <div id="left">
                <div class="poem-container haiku">
                </div>
                <div class="poem-container limerick">
                </div>
            </div>
            <div id="right">
            </div>
        </div>
        <!-- <ul id="output">

        </ul> -->

    </body>

</html>